@model WebApplication3.Models.Shareholder

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Shareholder</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ShareholderID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShareholderID)
                @Html.ValidationMessageFor(model => model.ShareholderID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShareholderName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShareholderName)
                @Html.ValidationMessageFor(model => model.ShareholderName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShareholderNameAmh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShareholderNameAmh)
                @Html.ValidationMessageFor(model => model.ShareholderNameAmh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NSharesSubscribed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NSharesSubscribed)
                @Html.ValidationMessageFor(model => model.NSharesSubscribed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NSharesPaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NSharesPaid)
                @Html.ValidationMessageFor(model => model.NSharesPaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SerialNumbersList, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SerialNumbersList)
                @Html.ValidationMessageFor(model => model.SerialNumbersList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Attended, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attended)
                @Html.ValidationMessageFor(model => model.Attended)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voted)
                @Html.ValidationMessageFor(model => model.Voted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
