@model WebApplication3.Models.Shareholder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shareholder</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShareholderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareholderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShareholderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareholderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShareholderNameAmh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareholderNameAmh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSharesSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSharesSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSharesPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSharesPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteRegisterer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteRegisterer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceRegisterer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceRegisterer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
