@model IEnumerable<WebApplication3.Models.Shareholder>

@{
    ViewBag.Title = "Register";
}

<h2>Attendance Registration</h2>
<form>
    <input type="Search" name="SearchString"/>
    <input type="submit" value="Find Shareholder"/>
</form>

<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShareholderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareholderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareholderNameAmh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSharesSubscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSharesPaid)
        </th>
      
      
        <th></th>
    </tr>

    @foreach (var item in Model)
{
  
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShareholderID)
            </td>
            <td>
                <a href="/dbb003/Attendance/Edit/@item.ID">@Html.DisplayFor(modelItem => item.ShareholderName) </a>
            </td>
            <td>
                <a href="/dbb003/Attendance/Edit/@item.ID">@Html.DisplayFor(modelItem => item.ShareholderNameAmh) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NSharesSubscribed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NSharesPaid)
            </td>
        
            <td>


              @*  @Html.ActionLink("Register Attendance", "Edit", new { id = item.ID })
    Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @//Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
   
}

</table>
